/* $Id$ */
body{
    border: solid 5px;
    margin: 0;
    padding: 1em;
    color: #222;
    font: normal normal 16px/1.5 'Arial', serif;
    background-image: linear-gradient(bottom, rgb(232,232,232) 31%, rgb(255,255,255) 71%);
    background-image: -o-linear-gradient(bottom, rgb(232,232,232) 31%, rgb(255,255,255) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 31%, rgb(255,255,255) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 31%, rgb(255,255,255) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 31%, rgb(255,255,255) 71%);
}

.page-structure{
    max-width: 1200px;
    min-width: 760px;
}

h1, h2, h3{
    color: #555;
}
p, ul, li{
    margin: .5em 0;
}
.gradient-center{
    border-radius: 15px;
    background-image: linear-gradient(bottom, rgba(255,255,255,.5) 25%, rgba(224,224,224,.5) 75%);
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.5) 25%, rgba(224,224,224,.5) 75%);
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.5) 25%, rgba(224,224,224,.5) 75%);
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.5) 25%, rgba(224,224,224,.5) 75%);
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.5) 25%, rgba(224,224,224,.5) 75%);

/*
    background-image: linear-gradient(left , rgb(255,255,255) 48%, rgb(224,224,224) 50%, rgb(255,255,255) 52%);
    background-image: -o-linear-gradient(left , rgb(255,255,255) 48%, rgb(224,224,224) 50%, rgb(255,255,255) 52%);
    background-image: -moz-linear-gradient(left , rgb(255,255,255) 48%, rgb(224,224,224) 50%, rgb(255,255,255) 52%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,255) 48%, rgb(224,224,224) 50%, rgb(255,255,255) 52%);
    background-image: -ms-linear-gradient(left , rgb(255,255,255) 48%, rgb(224,224,224) 50%, rgb(255,255,255) 52%);
*/
}
.gradient-rtl{
    background-image: linear-gradient(left , rgb(255,255,255) 100%, rgb(224,224,224) 90%);
    background-image: -o-linear-gradient(left , rgb(255,255,255) 100%, rgb(224,224,224) 90%);
    background-image: -moz-linear-gradient(left , rgb(255,255,255) 100%, rgb(224,224,224) 90%);
    background-image: -webkit-linear-gradient(left , rgb(255,255,255) 100%, rgb(224,224,224) 90%);
    background-image: -ms-linear-gradient(left , rgb(255,255,255) 100%, rgb(224,224,224) 90%);
}
.sepv{
    border-top: solid 1px #999;
}
.seph{
    border-right: solid 1px #999;
}
