$border-color: rgba(200, 200, 200, .5);

body {
    border: solid 5px #000;
    margin: 0;
    padding: 0;
    color: #222;
    font: normal normal 16px/1.5 'Oxygen', 'Arial', sans-serif;
}

a {
    color: #444;
}

#wrapper {
    background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(253, 253, 253, 0.95) 32%, rgba(255, 255, 255, 0.94) 36%, rgba(255, 255, 255, 0.83) 85%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(32%, rgba(253, 253, 253, 0.95)), color-stop(36%, rgba(255, 255, 255, 0.94)), color-stop(85%, rgba(255, 255, 255, 0.83)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(253, 253, 253, 0.95) 32%, rgba(255, 255, 255, 0.94) 36%, rgba(255, 255, 255, 0.83) 85%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(253, 253, 253, 0.95) 32%, rgba(255, 255, 255, 0.94) 36%, rgba(255, 255, 255, 0.83) 85%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(253, 253, 253, 0.95) 32%, rgba(255, 255, 255, 0.94) 36%, rgba(255, 255, 255, 0.83) 85%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(253, 253, 253, 0.95) 32%, rgba(255, 255, 255, 0.94) 36%, rgba(255, 255, 255, 0.83) 85%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#00ffffff', GradientType=0);
    padding-bottom: 20%;
    position: relative;
    overflow: hidden;
}

.page-structure {
    max-width: 1200px;
    min-width: 760px;
}

h1, h2, h3 {
    color: #555;
}

p, ul, li {
    margin: 1em 0;
}

#content {
    background-image: linear-gradient(bottom, rgba(255, 255, 255, .5) 25%, rgba(224, 224, 224, .5) 75%);
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .5) 25%, rgba(224, 224, 224, .5) 75%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .5) 25%, rgba(224, 224, 224, .5) 75%);
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .5) 25%, rgba(224, 224, 224, .5) 75%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .5) 25%, rgba(224, 224, 224, .5) 75%);
    border: 1px solid $border-color;
    padding: 50px 0;
}

/*
.gradient-rtl {
    background-image: linear-gradient(left, rgb(255, 255, 255) 100%, rgb(224, 224, 224) 90%);
    background-image: -o-linear-gradient(left, rgb(255, 255, 255) 100%, rgb(224, 224, 224) 90%);
    background-image: -moz-linear-gradient(left, rgb(255, 255, 255) 100%, rgb(224, 224, 224) 90%);
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 100%, rgb(224, 224, 224) 90%);
    background-image: -ms-linear-gradient(left, rgb(255, 255, 255) 100%, rgb(224, 224, 224) 90%);
}
*/

.sepv {
    border-top: solid 1px $border-color;
}

.seph {
    border-right: solid 1px $border-color;
}

.content-competence, .content-experience {
    padding: 0 30px;
}

.picture-ref {
    position: absolute;
    &.bottom {
        bottom: 5px;
        left: 5px;
    }
    .cta {
        color: #FFF;
        font-weight: bold;
    }
    .text {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        opacity: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        position: relative;
        top: 0;
        transition: all 125ms ease-in;
    }
    &:hover .text {
        opacity: 1;
        left: -5px;
    }
    &.bottom:hover .text {
        left: 0;
        top: -5px;
    }
}

@media only screen and (min-width: 1024px) {

    body {
        border-width: 15px;
        background: url(../img/background.jpg) center bottom no-repeat;
    }
    .content-competence, .content-experience {
        padding: 0 50px;
    }

}
